main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 50px;
    justify-items: center;
    font-family: 'Roboto';
}

main > div {
    border: 1px solid red;
    width: 300px;
    min-width: 200px;
    /* text-align: justify; */
    /* display: grid;
    justify-content: center; */
}

#add-book {
    position: absolute;
    top: 50px;
    right: 50px;
}

.read {
    background-color: green;
    color: white;
}

.not-read {
    background-color: rgb(255, 90, 90);
}

#already-added {
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}